@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@100;200;300;500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,600;1,800&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1250px !important;
}

.button-one {
    background-color: #D2202C;
    color: #fff;
    position: relative;
    padding: 10px 30px;
    border-radius: 0px 100px 0px 0px;
    font-weight: 500;
}

.button-one:hover {
    color: #fff;
}

.card {
    border: 0 !important;
}

/* header start*/
.nav-link {
    font-weight: 500;
    padding-left: 20px !important;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    box-shadow: 5px 5px 13px 0px grey;
}

.shop-now-main {
    position: relative;
}

.shop-now {
    background-color: #FCAC23;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 7px;
    border: 2px solid #FCD590;
    outline: 4px solid #FCAC23;
    border-radius: 20px;
    object-fit: contain;
}

/* header end*/
/* section-1 start  */
.section-1 {
    background-color: #FBAC23;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.donate-now-main {
    position: relative;
    left: 24px;
    margin-top: 40px;
}

.donate-now {
    background-color: #fff;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 7px;
    border: 2px solid #D7EBF2;
    outline: 4px solid #fff;
    border-radius: 20px;
    object-fit: contain;
}

.donate-btn {
    background-color: #F8981D;
}

/* section-1 end */
/* section-2 start */
.section-2 {
    background-color: #fff;
}

.section-2-card img {
    height: 300px;
    border-radius: 20px 20px 0px 0px !important;
    object-fit: fill;
}

.section-2-card-body {
    border-left: 1px dashed #6F7072;
    border-right: 1px dashed #6F7072;
    border-bottom: 1px dashed #6F7072;
    padding: 1rem 2rem !important;
}

.s2-card-title {
    font-size: 25px;
    font-weight: 800;
}

.s2-card-btn {
    padding: 10px 20px;
    background-color: #EE2424;
    color: #fff;
    border-radius: 20px;
}

.s2-card-btn:hover {
    color: #fff;
}

/* section-2 end */
/* section-3 star */
.section-3 {
    background-color: transparent;
}

.s3-container {
    width: 1150px;
    margin: 0 auto;
}

.s3-part2 {
    padding-top: 50px;
    background-color: #EF4D26;
    display: grid;
    align-items: center;
}

.s3-card {
    background-color: transparent !important;
    color: #fff !important;
}

.s3-card-body {
    padding: 10px 0px !important;
}

/* owl css overright */
.np-icon {
    position: absolute;
    top: 60px;
    width: 40px;
    object-fit: contain;
}

.nexticon {
    right: -70px;
    transform: rotate(180deg);
}

.previcon {
    left: -70px;
}
/* owl css overright */

/* section-3 end */

/* footer start */
footer {
    background: #616161;
    color: #fff;
}

.footer-div {
    row-gap: 50px;
}

.whats-app-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.form-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.custom-input {
    border-radius: 15px;
    border: 0px;
    padding: 5px 0px 5px 20px;
    color: #000;
    font-weight: 500;
}

.custom-input::placeholder {
    color: #000;
    font-weight: 500;
}

.live-chat-header {
    background-color: #EF4D26;
    padding: 10px 10px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.live-chat-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.chat-main {
    width: 90%;
    margin: 0 auto;
}

.chat-body {
    background: #fff;
    height: 250px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

.chat-body .left-p {
    position: absolute;
    bottom: 95px;
    left: 10px;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
}

.chat-body .right-p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 80%;
}

.chat-footer {
    background: #fff;
}

.chat-input {
    padding: 25px 15px;
    width: 100%;
    border: 0px;
    border-top: 1px solid grey;
}

.chat-input:focus {
    outline: 0;
}

.follow-us-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* footer end */

/* responsive design */
@media only screen and (max-width: 768px) {
    .s2-row {
        row-gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .chat-main {
        width: 100%;
    }

    .section-1-row {
        row-gap: 50px;
    }
}

/* responsive design */