@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@100;200;300;500&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,600;1,800&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,500;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
}

.container {
    max-width: 1250px !important;
}

.button-one {
    background-color: #D2202C;
    color: #fff;
    position: relative;
    padding: 10px 30px;
    border-radius: 0px 100px 0px 0px;
    font-weight: 500;
}

.button-two {
    padding: 10px 20px;
    background-color: #EE2424;
    color: #fff;
    border-radius: 20px;
    border: 0;
}

.button-two:hover {
    color: #fff;
}


.arrow-left {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #fff;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #fff;
}

.button-one:hover {
    color: #fff;
}

.button-submit {
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    font-weight: bold;
    margin-left: 35px;
}

.card {
    border: 0 !important;
    background-color: transparent !important;
}

.horizontal-line {
    height: 2px !important;
    width: 100%;
    opacity: 1;
    background-color: #000;
}
.title-one{
    font-size: 25px;
    font-weight: 800;
    color: #231F20;
}
/* header start*/
header {
    position: relative;
}

#active-ml-btn {
    background-color: #616161;
    color: #fff;
}

.mul-btn {
    color: #616161;
    background-color: #fff;
}

.multilang-main-div {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 1px solid #616161;
}

.multilang-main-div button {
    border: 0;
}

.nav-link {
    font-weight: 500;
    padding-left: 20px !important;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    box-shadow: 5px 5px 13px 0px grey;
}

.shop-now-main {
    position: relative;
    transform: rotate(0deg);
    transition: all 0.3s;
}

.shop-now-main:hover {
    transform: rotate(-5deg);
}

.shop-now {
    background-color: #FCAC23;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 7px;
    border: 2px solid #FCD590;
    outline: 4px solid #FCAC23;
    border-radius: 20px;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none !important;
}

.first-custom-carosel-indicator {
    height: 100px !important;
    width: 100px !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #EF4D26 !important;
}

.carousel-indicators .active {
    background-color: #616161 !important;
}

.second-custom-carosel-indicator {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    border: 3px solid #616161 !important;
    background-color: #fff;
}

.first-indicator {
    bottom: -150px !important;
}

.second-indicator {
    bottom: -200px !important;
}

.header-slider-controller-area {
    height: 220px;
    background-color: #fff;
}

/* dropdwon  */
.dropdown-menu {
    left: 21px !important;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100% !important;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-item:hover {
    color: #D2202C !important;
    font-weight: bold;
}

/* dropdwon  */

/* header end*/
/* section-1 start  */
.section-1 {
    background-color: #FBAC23;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.donate-now-main {
    position: relative;
    margin-top: 40px;
    transform: rotate(0deg);
    transition: all 0.3s;
}

.donate-now-main:hover {
    transform: rotate(-5deg);
}

.donate-now {
    background-color: #fff;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: -20px;
    padding: 7px;
    border: 2px solid #D7EBF2;
    outline: 4px solid #fff;
    border-radius: 20px;
    object-fit: contain;
}

.donate-btn {
    background-color: #F8981D;
    margin-left: 20px;
}

/* section-1 end */
/* section-2 start */
.section-2 {
    background-color: #fff;
}

.section-2-card img {
    height: 300px;
    border-radius: 20px 20px 0px 0px !important;
    object-fit: fill;
}

.section-2-card-body {
    border-left: 1px dashed #6F7072;
    border-right: 1px dashed #6F7072;
    border-bottom: 1px dashed #6F7072;
    padding: 1rem 2rem !important;
}

.s2-card-title {
    font-size: 25px;
    font-weight: 800;
}

.s2-card-btn {
    padding: 10px 20px;
    background-color: #EE2424;
    color: #fff;
    border-radius: 20px;
}

.s2-card-btn:hover {
    color: #fff;
}

/* section-2 end */
/* section-3 star */
.section-3 {
    background-color: transparent;
}

.s3-container {
    width: 1150px;
    margin: 0 auto;
}

.s3-part2 {
    padding-top: 50px;
    background-color: #EF4D26;
    display: grid;
    align-items: center;
}

.s3-card {
    background-color: transparent !important;
    color: #fff !important;
}

.s3-card-body {
    padding: 10px 0px !important;
}

/* owl css overright */
.np-icon {
    position: absolute;
    top: 60px;
    width: 40px;
    object-fit: contain;
}

.nexticon {
    right: -70px;
    transform: rotate(180deg);
}

.previcon {
    left: -70px;
}

/* owl css overright */

/* section-3 end */

/* section-4 start */
.section-4 {
    background-color: #fff;
}

.l-cow {
    position: absolute;
    top: -24px;
    right: 10px;
    width: 160px;
    object-fit: contain;
}

.s4-title {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #616161;
}

.s4-body {
    background-color: #EDEDED;
    padding: 50px;
}

.s4-img {
    object-fit: contain;
}

.s4-row {
    row-gap: 20px;
}

/* section-4 end */

/* footer start */
footer {
    background: #616161;
    color: #fff;
}

.footer-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 40px;
}

.whats-app-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.form-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.custom-input {
    border-radius: 15px;
    border: 0px;
    padding: 5px 0px 5px 20px;
    color: #000;
    font-weight: 500;
}

.custom-input::placeholder {
    color: #000;
    font-weight: 500;
}

.live-chat-header {
    background-color: #EF4D26;
    padding: 10px 10px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.live-chat-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.chat-main {
    width: 90%;
    margin: 0 auto;
}

.chat-body {
    background: #fff;
    height: 250px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

.chat-body .left-p {
    position: absolute;
    bottom: 95px;
    left: 10px;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
}

.chat-body .right-p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 80%;
}

.chat-footer {
    background: #fff;
}

.chat-input {
    padding: 25px 15px;
    width: 100%;
    border: 0px;
    border-top: 1px solid grey;
}

.chat-input:focus {
    outline: 0;
}

.follow-us-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* footer end */

/* responsive design */
@media only screen and (max-width: 1024px) {
    .nav-link {
        padding-left: 10px !important;
    }
}

@media only screen and (max-width: 990px) {
    .shop-now-main {
        margin-bottom: 30px;
        margin-left: 33px;
        margin-top: 20px;
    }

    .snm-dontebtn {
        margin-left: -15px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 1024px) {

    .footer-div {
        grid-template-columns: 1fr 1fr;
    }


}

@media only screen and (max-width: 768px) {
    .s2-row {
        row-gap: 50px;
    }

    .footer-div {
        grid-template-columns: 1fr 1fr;
    }


}

@media only screen and (max-width: 600px) {
    .footer-div {
        grid-template-columns: 1fr;
    }

    .chat-main {
        width: 100%;
    }

    .section-1-row {
        row-gap: 50px;
    }

    .l-cow {
        position: absolute;
        top: -13px;
        right: 10px;
        width: 88px;
        object-fit: contain;
    }

    .first-custom-carosel-indicator {
        height: 50px !important;
        width: 50px !important;
    }

}

@media only screen and (max-width: 375px) {
    .l-cow {
        position: absolute;
        top: -10px;
        right: 10px;
        width: 63px;
        object-fit: contain;
    }
}

/* responsive design */

/* owl slider setup resposive */
@media only screen and (max-width: 1300px) {
    .s3-container {
        width: 1000px;
    }
}

@media only screen and (max-width: 1150px) {
    .s3-container {
        width: 800px;
    }
    .left-p, .right-p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 950px) {
    .s3-container {
        width: 600px;
    }
}

@media only screen and (max-width: 768px) {
    .s3-container {
        width: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .s3-container {
        width: 400px;
    }

    .previcon {
        left: -45px;
    }

    .nexticon {
        right: -45px;
    }
}

@media only screen and (max-width: 425px) {
    .s3-container {
        width: 300px;
    }

    .s3-card {
        width: 200px;
        margin: 0 auto;
    }

    .previcon {
        left: -25px;
    }

    .nexticon {
        right: -25px;
    }
}

@media only screen and (max-width: 375px) {
    .previcon {
        left: -10px;
    }

    .nexticon {
        right: -10px;
    }
}

@media only screen and (max-width: 320px) {
    .np-icon {
        width: 30px;
    }

    .previcon {
        left: 0px;
    }

    .nexticon {
        right: 0px;
    }
}

/* owl slider setup resposive */


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

/* second footer div */
.second-footer-div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 100px;
}
@media only screen and (max-width: 768px) {
    .second-footer-div {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 50px;
    }
}
@media only screen and (max-width: 600px) {
    .second-footer-div {
        grid-template-columns: 1fr;
        grid-gap: 20px 100px;
    }
}
/* second footer div */



/* donate page style start */
.donate-title{
    font-size: 25px;
    font-weight: 800;
    color:#231F20;
}

.input-label{
    color: #606060 ;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.input-text{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #606060;
}
.input-text:focus{
    outline: 0;
}
.ads-one{
    background-color: #FCAC23;
    padding: 40px;
    margin-top: 33px;
}
.ads-one p{
    font-size: 25px;
    font-weight: 800;
    color: #221E1F ;
    margin: 0;
    line-height: 30px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(images/select-icon.jpg);
    background-position-x: 100%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.about-s2-body{
    background-color: #fff;
}
/* donate page style end */